.row {
    background-color: white;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.col {
    background-color: darkcyan;
    width: 150px;
    height: 50px;
}
