*{
    padding: 0;
    margin: 0;
    font-family: cursive
}

.container{
    width:600px;
    height: 600px;
    margin: 0px auto;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:600px;
    height: 60px;
    background-color:rgb(204, 204, 204);
    margin: 0px auto;
}

.title{
    font-size: 30px;
    font-weight: 400;
}

button{
    color: white;
    background-color: rgb(43, 120, 228);
    width: 70px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.641);
}
.boxes{
    display: flex;
}

.box-1, .box-2{
    flex: 2;
    width: 360px;
    height: 180px;
    border: 2px solid black;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-left: 15px;
}


.word{
    font-size: 30px;
    font-weight: bold;
}

.like{
    background-color:rgb(255, 217, 102);
    color: black;
    width: 60px;
    height: 30px;
}

.meaning{
    margin-top: 60px;
    margin-left: 25px;
}


.box-3{
    flex: 1;
    width: 210px;
    height: 150px;
    border: 2px solid black;
    margin-top: 25px;
    margin-left: 20px;
}

.word2{
    font-size: 25px;
    margin-left: 10px;
}

.word2 span{
    font-weight: bold;
    font-size: 30px;
}

.add-def{
    background-color: rgb(147, 196, 125);
    color: black;
    font-size: 18px;
    width: 170px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 6px;
}